/*
    Author: ErikMak
	Задание №1 и №2 лабораторной №1
*/
body {
	margin: 0;
	padding: 0;
}

#top, #menu, #content, #bottom {
	background: #e3e8cc;
	border: solid 1px black;
}

#top {
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
    font-size: 24px;
}
#menu {
    width: 20%;
    float: left;
    padding: 3px;
}
#content {
    margin-left: 21%;
    margin-bottom: 5px;
}
#content p{
	padding: 3px;
}
#bottom {
    padding: 3px;
}
