/* 
	Author: ErikMak
	Задание лабораторной №2
*/
body {
  margin: 0;
  padding: 0;
  background-color: #fffbf6;
}
#menu,
#top,
#content,
#bottom {
  background-color: #fef5e9;
  border: solid 1px black;
  padding: 1.2em;
}
#menu {
  float: left;
  width: 20%;
}
#content {
  margin-left: 23%;
  margin-bottom: 5px;
}
#content p {
  margin-left: 1em;
}
#content strong {
  text-decoration: underline;
  font-weight: normal;
}
#content .img-wrapper {
  margin-left: 1em;
  padding: 2%;
  height: 20vw;
  width: fit-content;
  background-color: white;
}
#content .img-wrapper img {
  height: 100%;
}
#content .anchors li {
  margin: 0.5em 0;
}
#content .reg-form {
  width: 320px;
}
#content .reg-form label {
  margin-bottom: 5px;
}
#content .reg-form input,
#content .reg-form select {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 6px;
}
#content .reg-form input[type="checkbox"]:checked + span {
  text-decoration: underline;
}
#content .reg-form input[type="text"]:invalid,
#content .reg-form input[type="email"]:invalid {
  border: 2px solid #e53838;
}
#content .reg-form input[type="text"]:valid,
#content .reg-form input[type="email"]:valid {
  border: 2px solid green;
}
#content .reg-form .form-item {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 1em;
}
#content .reg-form .form-item li {
  list-style-type: none;
}
#content .reg-form .form-item ul {
  padding-left: 0.8em;
  margin-bottom: 0;
}
#content .reg-form .form-item .submit-btn {
  padding: 0.75em;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #0d6efd;
  font-weight: 600;
}
#content .reg-form .form-item .submit-btn:hover {
  cursor: pointer;
  background-color: #125AC3;
}
#content .reg-form .form-item .submit-btn:active {
  transform: scale(1.02);
}
#content .reg-form p {
  margin: 0;
}
#top {
  margin-bottom: 5px;
}
#top h2 {
  margin: 0;
}
