body {
  margin: 0;
  padding: 0;
}
.header_1 {
  background-color: #f48000;
  height: 12vh;
  width: 80%;
  float: right;
}
.header_2 {
  float: left;
  background-color: #eb3d00;
  width: 20%;
  height: 12vh;
}
.sidebar {
  background-color: #0189e1;
  width: 20%;
  height: 88vh;
  float: left;
}
.content {
  position: relative;
  float: right;
  background-color: #fdfa00;
  width: 80%;
  height: 76vh;
}
.box2 {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: #ee2f74;
  width: 400px;
  height: 12vh;
}
.footer_1 {
  width: 60%;
  float: left;
  background-color: #00904a;
  height: 12vh;
}
.footer_2 {
  width: 20%;
  background-color: #fb9d9b;
  float: right;
  height: 12vh;
}
