body {
  margin: 0;
  padding: 0;
}
.header_1 {
  background-color: #f48000;
  height: 12vh;
  width: 23%;
  float: right;
}
.header_2 {
  float: left;
  background-color: #eb3d00;
  width: 77%;
  height: 12vh;
}
.sidebar {
  background-color: #0189e1;
  width: 20%;
  height: 88vh;
  float: left;
}
.content {
  position: relative;
  float: right;
  background-color: #fdfa00;
  width: 80%;
  height: 76vh;
}
.box1 {
  position: absolute;
  top: 10%;
  right: 50px;
  background-color: #ee2f74;
  width: 300px;
  height: 12vh;
}
.box2 {
  position: absolute;
  top: 70%;
  right: 20%;
  background-color: #bcb0d4;
  width: 300px;
  height: 12vh;
}
.box3 {
  position: absolute;
  top: 50%;
  left: 60px;
  background-color: #f38000;
  width: 300px;
  height: 12vh;
}
.footer_1 {
  width: 80%;
  float: right;
  background-color: #00904a;
  height: 12vh;
}
